
<li class="nav-item nav-link" id="navbar-content">
    <a href="@Url.Action("GioHang","GioHang")">
        <img width="40" height="40" src="~/img/shopping-cart.png" alt="shopping-cart-loaded--v1" />
        <span class="badge border border-secondary rounded-circle" style="color:red;">@ViewBag.TongSoLuong</span>    </a>
</li>


